Replace usage of `URI` class to identify endpoint.

Since we introduce the new [transport layer abstraction](https://github.com/eclipse/leshan/issues/1025#issuecomment-1373824399), we identify endpoint by `URI` using `java.net.URI`.


There is some argument to replace this by a `String` or a **dedicated new class** (`EndpointURI` ?).

Here is a list of those arguments : 
 - `java.net.URI` use lot of memory  : https://github.com/eclipse-leshan/leshan/issues/1415#issuecomment-1462320446
 - `java.net.URI` is full of not fixed bug and doesn't support [RFC3986](https://www.ietf.org/rfc/rfc3986.html) and [RFC3987](https://www.ietf.org/rfc/rfc3987.html) :  https://cr.openjdk.org/~dfuchs/writeups/updating-uri/ 
 - `java.net.URI` is overkill, currently we only need `scheme`, `host` and `port`.
 

[Spring project goes to the conclusion that URI class has lot of issue and should be replaced](https://github.com/spring-projects/spring-framework/issues/30188#issuecomment-1497221917) : 

 > In fact, one of the reasons for introducing `UriComponents` in Spring Framework was because ` java.net.URI` had known encoding issues, which meant that we had to create our own abstraction that did follow the related RFCs. And as mentioned above, accepting the % is one thing, but it really should be encoded on output, in accordance with RFC 6874.
 
 (The `%` point issue is relative to Leshan issue : https://github.com/eclipse-leshan/leshan/issues/1580#issuecomment-1926675469)